.main_container {
    background: rgba(220, 220, 220, 0.81);
    height: 100%;
}
/* кнопки логина и регистрации на main странице*/
.registration_buttons {
    float: right;
    margin-top: 2px;
}

.btn_main {
    background-color: #0783ec;
    border-color: #0783ec;
}

.btn_main:hover, .btn_main:focus  {
    background-color: black;
    border-color: black;
}


/* Стили меню сайта */
.menu ul {
    list-style: none;
}

/* Стили формы авторизации */

/* Ошибки формы авторизации */

/* Форма написания сообщения */
.post_form > div {
    margin: 5px;
}