body {
  background: #eee;
}
.personal-info .message {
  margin-top: 12px;
}
.profile .avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url("../images/character-designer.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  float: left;
}