body {
  background: #eeeeee;
}
div:before,
div:after {
  content: '';
  display: block;
  clear: both;
}
.page {
  padding: 10px 0;
}
.chat {
  display: table;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  border-radius: 4px;
}
.chat__messages {
  height: 100%;
  display: table-row;
  padding: 0 20px;
}
.chat__form {
  display: table-row;
  margin: 0;
}
.chat__title {
  display: block;
  box-shadow: none;
  border-radius: 0;
  border-color: transparent;
  border-top-color: #ccc;
}
.chat__title:hover,
.chat__title:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
  border-top-color: #ccc;
}
.chat__message {
  border-radius: 0 0 4px 4px;
  border-width: 1px 0 1px 0;
  border-color: transparent;
  border-top-color: #ccc;
  box-shadow: none;
}
.chat__message:hover,
.chat__message:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
  border-top-color: #ccc;
}
.chat__messages-box {
  overflow-y: scroll;
}
.chat__submit {
  float: right;
  margin-top: -34px;
  border-radius: 0 0 4px 0;
}
.message {
  padding: 10px;
}
.message__box {
  float: left;
  display: table;
  width: 50%;
}
.message__user-avatar {
  display: table-cell;
  width: 10px;
  padding-right: 10px;
  vertical-align: top;
}
.message__user-image {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #e0e0e0 url(../images/user.svg) 50% 50% / contain no-repeat;
  margin: auto;
}
.message__user-name {
  display: inline-block;
  font-weight: normal;
  color: #3bf;
  text-decoration: none;
}
.message__user-name:hover,
.message__user-name:focus {
  color: #3bf;
  text-decoration: none;
}
.message__data {
  display: table-cell;
  vertical-align: top;
}
.message__data-box {
  background: #ddffee;
  padding: 5px 10px;
  border-radius: 4px;
  display: table;
}
.message__title {
  font-weight: bold;
}
.message__title:empty {
  display: none;
}
.message__text {
  color: rgba(0, 0, 0, 0.5);
}
.message__date {
  float: right;
  font-size: .8em;
  color: rgba(0, 0, 0, 0.4);
}
.message_alien .message__data-box {
  background: #ddf1ff;
}
.message_alien .message__user-name {
  color: #f93;
}
.avatar__image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #e0e0e0 url(../images/user.svg) 50% 50% / contain no-repeat;
  margin: auto;
}
.avatar__name {
  text-align: center;
}
.personal-info .message {
  margin-top: 12px;
}
.profile .avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #e0e0e0 url(../images/user.svg) 50% 50% / contain no-repeat;
  margin-left: 10px;
  float: left;
}
.profile .avatar__preview {
  position: absolute;
}
.profile .avatar canvas {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.profile .file_upload {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 1em;
  height: 2.2em;
  line-height: 2em;
  padding-left: 15px;
  padding-right: 15px;
}
.profile .file_upload > .button {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #7300df;
  transition: background 0.2s;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  text-shadow: #6200bd 0 -1px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile .file_upload > div {
  padding-left: 1em;
  display: none;
}
.profile .file_upload input[type=file] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -1;
}
.profile .file_upload.focus {
  box-shadow: 0 0 5px rgba(0, 30, 255, 0.4);
}
.profile .file_upload:hover > .button {
  background: #6200bd;
  text-shadow: #5d00b3 0 -1px 0;
}
.profile .file_upload:active > .button {
  background: #5d00b3;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
}
.menu {
  background: #333333;
  margin-bottom: 20px;
}
.menu ul {
  padding: 0;
  margin: auto;
  display: table;
  list-style: none;
}
.menu ul li {
  float: left;
  color: #eeeeee;
}
.menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #eeeeee;
  text-decoration: none;
  transition: all 200ms;
}
.menu ul li a:hover {
  color: #aaaaaa;
}
.profile .avatar,
.profile .file_upload,
.registration button {
  margin-bottom: 20px;
}
@media only screen and (max-width: 500px) {
  .profile .file_upload {
    display: block;
  }
  .profile .file_upload > div {
    display: none;
  }
  .profile .file_upload {
    display: inline-block;
  }
}
.popup {
  margin: 25px;
  float: left;
  display: inline-block;
  box-shadow: 0 0 5px #000;
  background-color: #fff;
}
.popup__body {
  margin: 10px 10px 5px;
}
.btn .progress {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  position: absolute;
}
.btn .progress .bar {
  width: 0;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #f60;
}
.btn_browse {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 20px;
  background-color: #FFDC73;
  background: -moz-linear-gradient(top, #ffe599 0%, #ffdc73);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe599), to(#ffdc73));
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.btn_browse_small {
  padding: 5px 10px;
  font-size: 16px;
}
.btn-text {
  position: relative;
}
.js-img {
  background-image: url("../images/character-designer.png");
}
.img-modal {
  overflow: visible!important;
}
#preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  left: -240px;
  float: left;
}
#preview-pane .preview-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.profile .modal-preview {
  display: inline-block;
}
