@white: #fff;
@grey: #aaa;
@light_grey: #eee;
@dark_grey: #333;
@chat_bg: #fff;
@message_bg: #dfe;
@white_biege: #e7f3ff;
body {
	background: @light_grey;
}

div:before, div:after {
	content: '';
	display: block;
	clear: both;
}

.page {
	padding: 10px 0;
}

.chat {
	display: table;
	width: 100%;
	height: 300px;
	background-color: @chat_bg;
	border-radius: 4px;

	&__messages {
		height: 100%;
		display: table-row;
		padding: 0 20px;
	}
	&__form {
		display: table-row;
		margin: 0;
	}
	&__title {
		display: block;
		box-shadow: none;
		border-radius: 0;
		border-color: transparent;
		border-top-color: #ccc;
		&:hover, &:focus {
			outline: none;
			box-shadow: none;
			border-color: transparent;
			border-top-color: #ccc;
		}
	}
	&__message {
		border-radius: 0 0 4px 4px;
		border-width: 1px 0 1px 0;
		border-color: transparent;
		border-top-color: #ccc;
		box-shadow: none;
		&:hover, &:focus {
			outline: none;
			box-shadow: none;
			border-color: transparent;
			border-top-color: #ccc;
		}
	}
	&__messages-box {
		overflow-y: scroll;
	}
	&__submit {
		float: right;
		margin-top: -34px;
		border-radius: 0 0 4px 0;
	}
}

.message {
	padding: 10px;

	&__box {
		float: left;
		display: table;
		width: 50%;
	}
	&__user {
		&-avatar {
			display: table-cell;
			width: 10px;
			padding-right: 10px;
			vertical-align: top;
		}
		&-image {
			display: block;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			background: #e0e0e0 url(../images/user.svg) 50% 50% e('/') contain no-repeat;
			margin: auto;
		}
		&-name {
			display: inline-block;
			font-weight: normal;
			color: #3bf;
			text-decoration: none;
			&:hover, &:focus {
				color: #3bf;
				text-decoration: none;
			}
		}
	}
	&__data {
		display: table-cell;
		vertical-align: top;
		&-box {
			background: @message_bg;
			padding: 5px 10px;
			border-radius: 4px;
			display: table;
		}

	}
	&__title {
		font-weight: bold;
		&:empty {
			display: none;
		}
	}
	&__text {
		color: rgba(0, 0, 0, 0.5);
	}
	&__date {
		float: right;
		font-size: .8em;
		color: rgba(0, 0, 0, .4);
	}

	&_alien &__data-box {
		background: #ddf1ff;
	}
	&_alien &__user-name {
		color: #f93;
	}
}

.avatar {
	&__image {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		background: #e0e0e0 url(../images/user.svg) 50% 50% e('/') contain no-repeat;
		margin: auto;
	}
	&__name {
		text-align: center;
	}
	&__buttons {

	}
}

.personal-info {
	.message {
		margin-top: 12px;
	}
}

.profile {
	&__avatar {
	}
	&__message {
		padding: 10px;

		&:empty {
			display: none;
		}
	}
}

.menu {
	background: @dark_grey;
	margin-bottom: 20px;
	ul {
		padding: 0;
		margin: auto;
		display: table;
		list-style: none;
		li {
			float: left;
			color: @light_grey;
			a {
				display: block;
				padding: 10px 20px;
				color: @light_grey;
				text-decoration: none;
				transition: all 200ms;
				&:hover {
					color: @grey;
				}
			}
		}
	}
}

.profile .avatar, .profile .file_upload, .registration button {
	margin-bottom: 20px;
}

@media only screen and ( max-width: 500px ) {
	.profile {
		.file_upload {
			display: block;
			& > div {
				display: none;
			}
		}
	}

	.profile .file_upload {
		display: inline-block;
	}
}

.modal {
	&-avatar {
		position: initial;
	}
	&-avatar &-dialog {
		display: table;
		width: auto;
	}
}

.themodal-lock {
	/* when modal is opened we're removing scrollbars from the main content */
	overflow: hidden;
}

.themodal-overlay {
	/* overlay will stay fixed and will take all the space available */
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100000;

	/* if modal content doesn't fit inside the overlay, display scrollbars */
	overflow: auto;

	/* allow one-finger iPad scrolling */
	-webkit-overflow-scrolling: touch;

}

/* fix for iPad glitches */
.themodal-overlay > * {
	-webkit-transform: translateZ(0px);
}

.themodal-overlay {
	background: rgba(255, 255, 255, 0.5);
	/* IE6–IE8 */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
	*/
	zoom: 1;
}

.btn {

	.progress {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .5;
		position: absolute;
		.bar {
			width: 0;
			top: 0;
			left: 0;
			bottom: 0;
			position: absolute;
			background-color: #f60;
		}
	}
}

.swipe {
	width: 260px;
	top: 0;
	bottom: 0;
	position: fixed;
	right: 0;
	transition: 300ms ease;
	overflow: hidden;


	&__container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 30px;
	}
	&__button {
		position: absolute;
		top: 100px;
		right: 100%;
		background: #eee;
		border-radius: 4px 0 0 4px;
		z-index: 9;
		margin-right: -1px;
		border: 1px solid #ccc;
		border-right-color: transparent;
		padding: 10px 5px 10px 10px;
		text-align: center;
		cursor: pointer;
	}

	&__sign {
		width: 1em;
		word-break: break-all;
	}
	&__content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 230px;
		padding: 15px;
		border-left: 1px solid #ccc;
		background-color: #eee;
		box-sizing: border-box;
		overflow-y: scroll;
	}

	&-hidden {
		width: 30px;
	}
}

.upload-image {
	@border-width: 2px;

	width: 200px;
	height: 200px;
	margin: auto;
	text-align: center;
	background: #eee;
	position: relative;
	border-radius: 50%;
	overflow: hidden;

	&:before {
		border: @border-width dashed #4af;
		border-radius: 50%;
		height: 100%;
	}
	&__preview {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) 50% 50% e('/') cover no-repeat;
		border-radius: 50%;
		z-index: 2;
	}
	&__wrapper {
		width: 100%;
		height: 100%;
		min-height: 100px;
		display: table;
		top: 0;
		position: absolute;
	}
	&__browse {
		text-align: center;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		position: relative;
		z-index: 3;
	}
	&__sign {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.3);
		width: 50px;
		height: 50px;
		opacity: 0;
		transition: all 300ms;

		&:before, &:after {
			content: '';
			display: block;
			height: 50%;
			width: 0;
			border-width: 0 0 0 2px;
			border-style: solid;
			border-color: rgba(255, 255, 255, 0.5);
			position: absolute;
			top: 25%;
			left: 50%;
			margin: 0 0 0 -1px;
		}
		&:after {
			height: 0;
			width: 50%;
			left: 25%;
			top: 50%;
			margin: -1px 0 0 0;
			border-width: 2px 0 0 0;
		}
		.upload-image:hover & {
			opacity: 1;
		}
	}
	&__caption {
		position: absolute;
		left: 0;
		width: 100%;
		line-height: 1;
		bottom: 10px;
		text-align: center;
		color: #555;
		font-size: 12px;
		font-family: sans-serif;
	}
	&__file, input&__file {
		display: none;
	}
	&__upload {
	}
	&__progress {
		&_bar {
		}
		&_caption {
		}
	}
}

#fileapi .modal-content {
	display: table;
}
